<h1>Time Records</h1>
<!-- <%= stylesheet_link_tag "application.css" %> -->
<table>
  <tr>
    <th>Time</th>
    <th>In/Out</th>
  </tr>
 
<% @tr.each do |tr| %>
  <tr class="<%= cycle('oddrow', 'evenrow') -%>">
    <td><%= tr.time %></td>
    <td><%= tr.recordtype %></td>
  </tr>
<% end %>
</table>
